@model IEnumerable<Web_vuottai.Models.GIANGVIEN>

@{
    ViewData["Title"] = "Quản lý Giảng viên";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
        </p>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Họ tên giảng viên</th>
                    <th>Chức vụ</th>
                    <th>Đơn vị</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChucVu.TenChucVu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonVi.TenDonVi)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.GiangVienId" class="btn btn-sm btn-outline-primary">Sửa</a>
                            <a asp-action="Details" asp-route-id="@item.GiangVienId" class="btn btn-sm btn-outline-info">Chi tiết</a>
                            <a asp-action="Delete" asp-route-id="@item.GiangVienId" class="btn btn-sm btn-outline-danger">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
