@model IEnumerable<Web_vuottai.Models.CHUCDANH_GIOCHUAN>

@{
    ViewData["Title"] = "Quản lý Giờ chuẩn";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Chức danh</th>
                    <th>Năm học</th>
                    <th>Học kỳ</th>
                    <th>Giờ chuẩn</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ChucDanh.TenChucDanh</td>
                        <td>@item.NamHoc</td>
                        <td>@item.HocKy</td>
                        <form asp-action="UpdateGioChuan" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <td>
                                <input type="number" name="gioChuan" class="form-control" value="@item.GioChuan" />
                            </td>
                            <td>
                                <button type="submit" class="btn btn-sm btn-primary">Cập nhật</button>
                            </td>
                        </form>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
