@model Web_vuottai.Models.LOP

@{
    ViewData["Title"] = "Details";
}

<h1>THÔNG TIN LỚP HỌC</h1>

<div>
    <h4>LOP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuanSo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuanSo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LopId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
