@model IEnumerable<Web_vuottai.Models.LOP>

@{
    ViewData["Title"] = "Index";
}

<h1>THÔNG TIN CÁC LỚP HỌC</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã Lớp
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TenLop) *@
                Tên Lớp
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.QuanSo) *@
                Quân Số
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuanSo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LopId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LopId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LopId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
